.leftArrowButton {
  position: relative;
  height: 100%;
  cursor: pointer;
  background: transparent;
  color: white;
  border: none;
  padding: 1rem 0.2rem;
}

.rightArrowButton {
  display: none;
  position: relative;
  height: 100%;
  cursor: pointer;
  background: transparent;
  color: white;
  border: none;
  padding: 1rem 0.2rem;
}
