.inputContainer {
    position: relative;
    display: flex;
    justify-items: center;
    width: 100%;
}

.input {
    position: relative;
    color: yellow;
    padding: 0.5rem 0.2rem 0rem 0.2rem;
    height: 2.3rem;
    width: 100%;
    font-size: 0.6rem;
}

.label {
    padding: 0.2rem 0.2rem;
    font-size: 0.5rem;
    position: absolute;
}

.required {
    padding-left: 0.1rem;
    font-size: 0.5rem;
    color: red;
}