.inputContainer {
  position: relative;
  display: flex;
  justify-items: center;
  width: 100%;
}

.input {
  position: relative;
  padding: 0.5rem 0.2rem 0rem 0.5rem;
  height: 2.3rem;
  width: 100%;
  font-size: 0.7rem;
}

.label {
    color:rgb(162, 162, 162);
  padding: 0.2rem 0.2rem;
  font-size: 0.6rem;
  position: absolute;
}

.required {
  padding-left: 0.1rem;
  font-size: 0.5rem;
  color: red;
}
