.commnetList {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  margin-top: 1rem;
}

.comment {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  flex-wrap: wrap;
  word-break: break-word;
}

.commentAvater {
  width: 3rem;
  height: 3rem;
}

.commentContent {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  width: 90%;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.7);

  .commentHead {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .commentAuthorWrapper {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;

      .commentAuthor {
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 50%;
      }

      .commentDate {
        font-size: 0.7rem;
        color: gray;
        margin-top: auto;
      }
    }

    .commentButtonGroup {
      display: flex;
      flex-direction: row;
      width: 5rem;
      button {
        background-color: transparent;
        border: none;
        color: white;
        font-size: 0.7rem;
        cursor: pointer;
        margin-left: 0.5rem;
      }

      .editButton {
        &:hover {
          color: blue;
        }
      }
      .deleteButton {
        &:hover {
          color: red;
        }
      }
    }
  }

  .commentBody {
  }

  .editInput {
    width: 100%;
    height: 3rem;
    font-size: 1rem;
    padding: 0 1rem;
    padding-right: 40px;
    box-sizing: border-box;

    background: black;
    color: white;
    appearance: none;
    border: 1px solid #808080;
    outline: none;
    border-radius: 20px;
    pointer-events: all;

    &:focus {
      border: 2px solid red;
    }
  }

  .commentEditButtonGroup {
    display: flex;
    flex-direction: row;
    width: 3rem;
    margin: 0.5rem auto;
  }
}
