.AccountNavContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
}

.AccountNavLine {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 0.1rem 0;

  .text {
    font-size: 0.8rem;
    margin-right: 0.2rem;
  }

  .button {
    color: rgb(43, 43, 251);
    border: none;
    background-color: transparent;
    font-size: 0.9rem;
    cursor: pointer;
  }
}

.googleAuth {
  border: none;
  background-color: transparent;
}

.AccountNavOauth {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;

  .customAuth {
    display: flex;
    width: 189px;
    height: 40px;
    background-color: rgb(18, 18, 18);
    color: rgb(208, 206, 206);
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 0.8rem;
    border-radius: 0.2rem;
    border: 1px solid rgb(156, 156, 156);
  }
}
