.stickyContainer {
  position: sticky;
  top: 0;
  width: 100%;
  height: auto;
  padding: 0.5rem 0;
  background-color: rgba(0, 0, 0, 0.9);
}

.navContainer {
  position: relative;
  display: flex;
  height: auto;
  width: auto;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.menuContainer {
  position: relative;
  display: flex;
}

.link {
  color: white;
  &:hover {
    color: red;
  }
}
