.TypeAuthContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  gap: 0.5rem;
}

.TypeAuthForm {
  position: relative;
  text-align: center;
  width: 12rem;
  padding: 0 0 2rem 0;

  .span {
    color: red;
    font-size: 0.8rem;
  }
}

.TypeAuthButton {
  position: absolute;
  right: 0;
  bottom: 0;
}
