.TypeAuthContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
}

.TypeAuthForm {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  gap: 0.5rem;
}

.TypeAuthButton {
  position: absolute;
  right: 0;
  bottom: 0;
}

.infoMessage {
  text-align: center;
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.65)
}