.container {
  display: flex;
  right: 1rem;
  position: absolute;
  width: auto;
  height: 100%;
  text-align: center;
  color: #337ab7;
  background-color: transparent;
  border: none;
  cursor: pointer;
  align-items: center;
  font-size: 0.7rem;
}
