.movieDetailContainer {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detail {
    @media (max-width: 959px) {
        width: 480px;
        height: auto;
    }
    
      // 중간 화면 (예: 태블릿)
    @media (min-width: 960px) {
        width: 960px;
        height: auto;
    }
    
}

.titleAndScore {
    display: flex;
    flex-direction: row;
    padding: 1rem 1rem;
    justify-content: space-between;
    .title {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.posterAndPlayer {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;

    .poster{
        position: relative;
        width: 30%;
        
        @media (min-width: 960px){
            height: 540px; // 16:9 비율
        }
        
        @media (max-width: 959px) {
            height: 270px; // 16:9 비율
        }
    }
    .player {
        position: relaitve;
        width: 70%;
        height: auto;
        background-color: black;
    }
}

.score {
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 1rem;
    .rating {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        .star {
            margin-right: 5px; // 아이콘과 텍스트 간의 간격 조정
        }
        span {
            font-size: 1.2rem;
            font-weight: bold;
        }
    }
    .popularity {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        .star {
            margin-right: 5px; // 아이콘과 텍스트 간의 간격 조정
        }
        span {
            font-size: 1.2rem;
            font-weight: bold;
        }
    }
}