.TypeEmailContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20rem;
  padding: 1rem 2rem;
}

.TypeEmailForm {
  position: relative;
  text-align: center;
  width: 12rem;
  padding: 0 0 2rem 0;

  .span {
    color: red;
    font-size: 0.8rem;
  }
}

.TypeEmailButton {
  position: absolute;
  right: 0;
  bottom: 0;
}
