.TypeRegistFormContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
}

.TypeRegistForm {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 12rem;
  gap: 1rem;
  padding: 0 0 2rem 0;

  .span {
    color: red;
    font-size: 0.8rem;
  }
}

.TypeRegistButton {
  position: absolute;
  right: 0;
  bottom: 0;
}
