.TypeRegistFormContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
}

.TypeRegistForm {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  gap: 1rem;
}

.infoMessage {
  text-align: center;
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.65)
}